<!DOCTYPE html>
<%= render 'layouts/head'  %>
<html>
 <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
